<html>
  <head>
  <meta charset="utf-8">
  <title>per - Project</title>
  <!-- <link rel="stylesheet" href="index.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-latest.min.js?v=1"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
  <article>
    <div>
      <header class="art-f-head">뉴스 생성</header>
      <div class="art-f-container">
        <form action="http://localhost:5000/result" method="post" novalidate id="news_create">
          <div>
            <fieldset>
              <div class="fd-item">
                <div>
                  <div class="fd-1"><label for="id_language_cd">Language cd</label></div>
                  <div class="fd-2"><select name="language_cd" id="">
                    <option value="EN">EN</option>
                    <option value="ID">ID</option>
                    <option value="VI">VI</option>
                    <option value="TH">TH</option>
                    <option value="BR">BR</option>
                    <option value="KO">KO</option>
                  </select></div>
                </div>
              </div>
              <div class="fd-item">
                <div>
                  <div class="fd-1"><label for="id_link">Link</label></div>
                  <div class="fd-2"><input type="text" name="link" maxlength="1024" id="id_link" autofocus required></div>
                </div>
              </div>
              <div class="fd-item">
                <div>
                  <div class="fd-1"><label for="id_title">Title</label></div>
                  <div class="fd-2"><input type="text" name="title" maxlength="1024" id="id_title" required></div>
                </div>
              </div>
              <div class="fd-item">
                <div>
                  <div class="fd-1"><label for="id_image_link">Image link</label></div>
                  <div class="fd-2"><input type="text" name="image_link" maxlength="1024" id="id_image_link" required></div>
                </div>
              </div>
              <div class="fd-item">
                <div>
                  <div class="fd-1"><label for="id_content">Content</label></div>
                  <div class="fd-2" style="height: 100px"><textarea name="content" id="id_content" cols="150" rows="20" required></textarea></div>
                </div>
              </div>
              <div class="fd-item">
              	<div>
              	  <div class="fd-1"><label for="id_date">Date</label></div>
              	  <div class="fd-2"><input type="date" name="date" id="id_date" required></div>
              	</div>
              </div>
              <div>
                <div>
                <input type="submit" value="전송" class="btn btn-outline-primary fd-submit">
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </article>
</body>
</html>
