li{
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}

a{
  text-decoration: none;
  color: #a5a5a5;
}

.rel{
  position: relative;
}

a:hover{
  color: #444749;
}

.row div{
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.row{
  margin: 10px 0px 0px 0px;
  display: table;
}

.thumbnail img{
  min-width: 800px;
  min-height: 500px;
  height: 500px;
}

.content{
  display: table;
  width: 800px;
  max-width: 800px;
  margin: 0px 20px;
}

.ct-line{
  height: 10px;
}

.ct-title{
  left: 15px;
  margin-left: 0px;
  text-align: left;
  font-size: 3rem;
}

.ct-title span{
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.ct-pub_date{
  height: 20px;
  width: 100%;
  font-size: 0;
  color: #a5a5a5;
  list-style-type: none;
  padding: 0;
}

.pub_date-img_div{
  height: 20px;
  width: 12px;
  font-size: 11px;
}

.pub_date-img{
  position: relative;
  margin-top: 4px;
  width: 12px;
  height: 12px;
}

.pub_date-creator{
  margin-left: 5px;
  font-size: 11px;
  line-height: 20px;
}

.pub_date-creator div{
  position: relative;
  height: 20px;
  top: 0;
}

.pub_date-creator div span{
  padding-top: 1px;
  display: table-cell;
  vertical-align: middle;
}

.pub_date-divider{
  margin-left: 5px;
  width: 1px;
  height: 10px;
  margin-top: 6px;
  background-color: #a5a5a5;
  font-size: 11px;
}

.pub_date-div{
  margin-left: 5px;
  font-size: 11px;
  line-height: 20px;
}

.pub_date-div div{
  position: relative;
  height: 20px;
  top: 0;
  border: 0;
  display: table;
}

.pub_date-div div span{
  padding-top: 1px;
  display: table-cell;
  vertical-align: middle;
}

.ct-line-8{
  height: 8px;
}

.ct-divider{
  margin-left: 0px;
  height: 1px;
  background-color: #ccc;
}

.ct-line-17{
  height: 17px;
}

.ct-main p{
  font-size: 15px;
  line-height: 32px;
  text-align: left;
  color: #363a3b;
  word-spacing: initial;
  word-wrap: break-word;
  word-break: break-word;
  font-family: '³ª´®°íµñ',nanum gothic,'¸¼Àº°íµñ',malgun gothic,'µ¸¿ò',Dotum,Helvetica,sans-serif;
}

.ct-source{
	height: 20px;
}

.ct-table{
  float: left;
  height: 20px;
  color: #a5a5a5;
}

.ct-line-13{
  height: 13px;
}

.ct-blankSpace-free{
  height: 30px;
  background-color: #2e343d;
}

@media (max-width: 860px) {
	.content{
		width: auto;
	}
}